.break-time{
    background-color: aliceblue;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.break-time p{
    padding: 15px;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
}