/* .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.img-height{
    height: 240px;
}
@media only screen and (max-width: 600px) {
    .card-container{
     grid-template-columns: 1fr;   
    }
}
@media only screen and (min-width: 600px) {
    .card-container{
     grid-template-columns: repeat(2,1fr);   
    }
}
@media only screen and (min-width: 768px) {
    .card-container{
        grid-template-columns: repeat(3,1fr);   
       } 
} */